  <!-- Footer -------------------------------------------------------------->
<container>
  <row class="sub-footer">
    <columns small="0" large="1"></columns>
    <columns small="12" large="4" class="link-col">
      <a href="#" class="menu-link contact">
        <span class="text">
          Contact support
        </span>
        <span class="arrow">
          <img src="https://i.imgur.com/zPCYzNA.png" alt="">
        </span>
      </a>
    </columns>
    <columns small="12" large="2" class="link-border show-for-large">
      <center>
      <span class="border"></span>
      </center>
    </columns>
    <columns small="12" large="4" class="link-col">
      <a href="#" class="menu-link orders">
        <span class="text">
          My orders
        </span>
        <span class="arrow">
          <img src="https://i.imgur.com/zPCYzNA.png" alt="">
        </span>
      </a>
    </columns>
    <columns small="0" large="1"></columns>
  </row>

  <row class="footer-logo">
    <columns small="12" large="0"></columns>
    <columns small="12" large="11" class="img-col">
      <img src="https://i.imgur.com/pqSzmRw.png" alt="footer logo" />
    </columns>
    <columns small="12" large="1"></columns>
  </row>

  <row class="border-row bg">
    <columns small="12" large="12" class="border-col" style="padding-top:10px !important; padding-bottom:10px!important;">
      <span class="border" style="width: 660px !important;"></span>
    </columns>
  </row>

  <row class="footer-bottom">
    <columns small="12" large="0"></columns>
    <columns small="12" large="6" class="footer-links">
      <a href="#">Forgot password</a>
      <a href="#">Privacy</a>
      <a href="#">Terms</a>
    </columns>
    <columns small="12" large="5" class="footer-address">
      <span>
        Uber B.V.
      <br>
        Mr. Treublaan 7
      <br>
        1097 DP Amsterdam
      </span>
    </columns>
    <columns small="12" large="1"></columns>
  </row>
</container>
