<!-- Header -------------------------------------------------------------->
<container>
  <row class="header">
    <columns small="12" large="1"></columns>
    <columns small="7" large="6" class="logo">
      <img src="https://i.imgur.com/mCvwXMH.png" alt="logo" />
    </columns>
    <columns small="5" large="4" class="head-info">
      <div class="total">Total <strong>£10.35</strong></div>
      <div class="date">August 15, 2020</div>
    </columns>
    <columns small="12" large="1"></columns>
  </row>
  <row class="sub-header">
    <columns class="content-bg" style="background-image: url(https://i.imgur.com/NQgbGcl.png);
    background-repeat: no-repeat; background-position: 100% 100%; width: 700px; padding-bottom: 0 !important;">
      <row>
        <columns small="12" large="1"></columns>
        <columns small="8" large="6" class="intro-text">
          <div class="greeting">Thanks for ordering, Adam</div>
          <div class="location">Here's your receipt for KFC London-Bond Street.</div>
        </columns>
        <columns small="12" large="4" class="order-image">
          <img src="https://i.imgur.com/xopjIuw.png" alt="#">
        </columns>
        <columns small="12" large="1"></columns>
      </row>
    </columns>
  </row>
</container>
